#Multiply

In [6]:
def multiply(y,z):
  if z==0: 
    return 0
  elif z==1:
    return y
  else:
    product=0
    while True:
      product+=y
      z-=1
      if z==0: break
    return product

In [8]:
print(multiply(10,9))

90

#K-th Largest Number

In [73]:
def KthLargest(A, k):
  '''
  A: array with size n
  1<=k<=n
  '''
  n=len(A)
  for i in range(k):
        for j in reversed(range(i,n-1)):
            if A[j+1]>A[j]:
                A[j], A[j+1] = A[j+1], A[j]

  return A[k-1]

In [76]:
KthLargest(A=[5,2,4,6], k=4)

2

#Bubble Sort (ascending)

In [77]:
def bubbleSort(A):
  n = len(A) 
  for i in range(n-1):
    for j in range(n-1):
      if A[j]>A[j+1]:
        A[j], A[j+1] = A[j+1], A[j]

In [80]:
A=[5,2,4,6]
bubbleSort(A)
print(A)

[2, 4, 5, 6]

#K-th largest from BubbleSort

In [81]:
def kthLargest(A,k):
  n = len(A) 
  for i in range(n-k-1):
    for j in range(n-1):
      if A[j]>A[j+1]:
        A[j], A[j+1] = A[j+1], A[j]
  return A[n-k]

In [82]:
A=[5,2,4,6]
print(kthLargest(A,k=2))

5

#Power-Iterative (x^y)

In [93]:
def powerIterative(x, y):
  result = 1
  while y>0:
    if(y%2!=0):
      result *= x
      y -= 1
    x = x*x
    y = y//2
    print(y)

  return result

In [94]:
print(powerIterative(5,7))

3
1
0
78125